{
    "extends": "@johh",
    "ignorePatterns": [
        "**/node_modules",
        "**/dist",
        "_coverage"
    ],
    "rules": {
        "jsdoc/check-tag-names": [
            "warn",
            {
                "definedTags": [
                    "internal"
                ]
            }
        ]
    }
}
