node_modules/
packages/**/node_modules/
packages/**/dist/
packages/**/dev/
docs/temp/
_coverage/
.DS_Store
yarn-error.log
lerna-debug.log

packages/hlsl-loader/bin/darwin/lib/libdxcompiler.3.7.dylib
packages/hlsl-loader/bin/linux/lib/libdxcompiler.so.3.7
